.App {
  text-align: center;
  background-color: #DAFDE1;
  padding: 0 0 20px;
}
.jumbotron {
  background-color: #C0FFF8;
}
.form-group {
  background-color: #FFF7C6;
  margin: 50px;
  border-radius: 5px;
}
.btn {
  background-color: #FFE0EB;
}
.theForm {
  background-color: #529A86;
  margin: 50px;
  padding: 20px;
  border-radius: 5px;
}
